
body{
    margin: 0;
    padding: 0;
    background-color: rgb(21, 20, 20);

    justify-content: center;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
  }
  h3{
    color: white;
    font-family: 'Times New Roman', Times, serif;
   }
   a{
    text-decoration: none;
   }
  .navbar{
    position: relative;
    align-items: center;

     /* repeat(auto-fit, minmax(350px, 1fr)) */
    display: grid;
    top: 0;
    height: 4.5rem;
    grid-template-columns: 1fr 1fr;
    background-color: #222;
  }

  .navbar .navicon{
    align-items: center;
    position: relative;
    max-width: 4rem;
    justify-items: auto;
    bottom: 1rem;
    left: 1rem;
  }

  .navbar .navitem{
    width: 2rem;
    position: relative;
    padding: 1.5rem;
    padding-bottom: 4rem;
    padding-right: 6rem;
    height: 1.5rem;
    width: 4rem;
    box-sizing: content-box;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    gap: 3rem;
  }
  
  .navbar .navitem a{
    color: white;
    font-weight: 600;
  }

  .navbar .navitem .n1 a:hover{
    background: white;
    color: black;
  }

  .navbar .navitem img{
    height: 2rem;
    width: 2rem;
  }
  .navbar .navitem .n1 a{
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
    justify-items: auto;
  }
  .navbar .navitem .n2 img{
    position: relative;
    bottom: 0.5rem;
  }


  .navbar img{
    position: relative;
    height: 4rem;
    width: 4rem;
  }
  .container{
    margin: 2rem;
    padding-top: 3rem;
    display: grid;
    height: 400px;
    grid-template-rows: auto;
    border: 1px solid #fff;
    background-image: url("images/desktop.jpg");
    background-size: contain;
 }
  .box{
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin: 0 auto;
  }
  .card{
    position: relative;
    width: 300px;
    height: 350px;
    background:   #222;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 80px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position: absolute;
      display: grid;
      grid-template-rows: 1fr 1fr;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      overflow: hidden;
      text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: rgb(255, 236, 236);
   text-transform: uppercase;
  } 

  .card .details .incont{
    box-sizing: content-box;
    height: 2rem;
    overflow: hidden;
  }

  .card .details .incont span{
  font-weight: 500;
  font-size: 16px;
  height: 100%;
  color: #f38695;
  display: block;
  overflow: hidden;
  animation: changewords 8s infinite;

   } 

   .about{
    position: relative;
    text-align: justify;
    width: 35rem;
    font-family: 'Times New Roman', Times, serif;
   }
   .about h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
   }
   .about .icons{
    position: relative;
    top: 12rem;
   }

   @keyframes changewords{
    25%{
      transform: translateY(-100%);
    }
    50%{
      transform: translateY(-100%);
    }
    75%{
      transform: translateY(-200%);
    }
    100%{
      transform: translateY(-200%);
    }
    /* 75%{
      transform: translateY(-300%);
    }
    100%{
      transform: translateY(-300%);
    } */
   }
   .container .box .about .icons{
    box-sizing: content-box;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   }
   .container .box .about .icons img{
    height: 2rem;
    width: 2rem;
   }
   .content{
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    align-items: center;
    color: grey;
   }
   .content .recent .items{
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(5rem,1fr));
    align-items: left;
   }
   .content .recent .heading{
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
   }
   .items .itembox{
    border-bottom: 1px solid white;
    align-items: center;
    justify-content: center;
    line-height: 3rem;
    text-justify: auto;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    text-align: left;
   }
   
   .items .itembox img{
    height: 2.5rem;
    width: 3rem;
   }
   /* blogs */
   .bloghead{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
   }
   .blogitems{
    border-bottom: 1px solid white;
    align-items: center;
    justify-content: center;
    text-justify: auto;
    text-align: left;
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(4rem,1fr));
   }
   .blogitems .itembox{
    display: grid;
    height: 7rem;
    width:50rem;
    text-align: left;
    border-bottom: 1px solid #fff;
    align-items: center;
    grid-template-columns: 1fr 7fr 1fr;
   }
   .blogitems .itembox img{
    height: 2.5rem;
    width: 3rem;
   }
   
   /*about*/
   .full{
    display: flex;

    background-image: url("images/desktop.jpg");
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 6rem;

    align-items: center;
    justify-content: center;
   }
   .allabout{
    background-color: #222;
    display: flex;
    padding: 2.5rem;
    padding-top: 1rem;
    flex-direction: column;
    text-align: justify;
    position: relative;
    align-items: center;
    height: 25rem;
    width: 50rem;
   }
   .desc{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
   }
   .desc h2{
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    
   }
   .hob{
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
   .hobchild{
    width: 14rem;
    text-align:center;
    justify-content: center;
    justify-items: auto;
   }
